.name {
  background-color: white;
  padding: 10px !important;
}

.name label {
  padding-left: 15px;
  padding-top: 10px;
}
/*
.collabsibleLabel {
  padding-left: 10px;
  line-height: 3;
}
*/
.collabsibleOpened {
  background-color: grey;
  width: 25%;
  border: 1px solid black;
}
