.name {
  background-color: white;
  padding: 10px !important;
  display: flex !important;
}

.name label {
  padding-left: 15px;
  padding-top: 10px;
}

.collabsibleOpened {
  background-color: grey;
  width: 25%;
  border: 1px solid black;
}
