.root {
  padding: 15px;
}

.media {
  height: 195px;
}

h4 {
  font-size: 5rem;
}

.container {
  position: relative;
}

img {
  position: absolute;
}

.button {
  display: none;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.container:hover .button {
  opacity: 1;
}
