.root {
  padding: 15px;
  background-color: seashell !important;
}

.media {
  height: 195px;
}

h4 {
  font-size: 5rem;
}

.container {
  position: relative;
  width: 100%;
}

img {
  position: absolute;
}

.button {
  display: none;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.uploadbutton {
  display: none;
}

.container:hover .button {
  opacity: 1;
}

.collabsibleOpened {
  background-color: grey;
  border: 1px solid black;
}
.collabsibleOpened {
  background-color: silver;
  margin-top: 10px;
  border: 1px solid black;
}

.icon {
  font-size: 1.5rem;
  margin-top: 3px;
}

.button {
  margin-top: 10;
}
